html, body {
    margin: 0;
    padding: 0;
    background-color: #232323;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.adContainer {
    position: relative;
    top: -10000px;

    text-align: center;
}

#username-field {
    position: absolute;
    width: 350px;
    top: 90%;
    left: calc(50% - 175px);
    vertical-align: bottom;
    z-index: 1;

    background: #232323;
    border: 1px solid white;
    padding: 5px;
    color: #fff;
    font-size: 24pt;
    outline: 0;
}

::-webkit-input-placeholder {
    color: white;
}

@font-face {
    font-family: 'Begok';
    src: url('assets/fonts/begok.ttf');
}

@font-face {
    font-family: 'PirulenRg-Regular';
    src: url('assets/fonts/pirulen.regular.ttf');
}

@viewport{
    zoom: 1.0;
    width: device-width;
}

@-ms-viewport{
    zoom: 1.0;
    width: device-width;
}